<a href="https://colab.research.google.com/github/kangsudal/Adding-Google-Maps/blob/master/FinanceDataReader%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#colab 나눔고딕 한글 폰트 설치
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 0s (37.3 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155222 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
#matplotlib 임포트 , 주피터 출력설정, 한글 글꼴 지정
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['font.family']='NanumBarunGothic' #한글 출력을 위한 글꼴 설정

주식데이터를 크롤링할 수 있는 FinanceDataReader설치

In [ ]:
!pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

라이브러리 임포트

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from tqdm.notebook import tqdm

거래소 별 전 종목 리스트 받아오기

In [ ]:
kospi_list = fdr.StockListing('KOSPI')
kosdaq_list = fdr.StockListing('KOSDAQ')

In [ ]:
kospi_list

      Symbol Market  ...                       HomePage Region
1     095570  KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2     006840  KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
6     152100  KOSPI  ...                            NaN    NaN
7     295820  KOSPI  ...                            NaN    NaN
8     253150  KOSPI  ...                            NaN    NaN
...      ...    ...  ...                            ...    ...
7301  069260  KOSPI  ...         http://www.huchems.com  서울특별시
7305  000540  KOSPI  ...     http://www.insurance.co.kr  서울특별시
7306  000547  KOSPI  ...                            NaN    NaN
7307  000545  KOSPI  ...                            NaN    NaN
7308  003280  KOSPI  ...         http://www.heung-a.com  서울특별시

[5627 rows x 10 columns]

In [ ]:
nyse_list = fdr.StockListing('NYSE')
nasdaq_list = fdr.StockListing('NASDAQ')

100%|██████████| 3433/3433 [00:37<00:00, 90.86it/s]
100%|██████████| 4437/4437 [00:46<00:00, 94.62it/s]

In [ ]:
nasdaq_list

     Symbol  ... IndustryCode
0      AAPL  ...       571060
1      MSFT  ...       572010
2      AMZN  ...       534020
3      TSLA  ...       531010
4     GOOGL  ...       572010
...     ...  ...          ...
4432   AFAC  ...       556010
4433   VMGA  ...       556010
4434   RNER  ...       556010
4435   LGST  ...       556010
4436   IOAC  ...       556010

[4437 rows x 4 columns]

In [ ]:
nyse_list

      Symbol  ... IndustryCode
0        TSM  ...       571010
1        UNH  ...       561020
2        JPM  ...       551010
3          V  ...       572010
4        JNJ  ...       562010
...      ...  ...          ...
3428     DTG  ...       591010
3429    NPFD  ...       555010
3430    BWNB  ...       521020
3431  SPE RT  ...       555010
3432    IRRX  ...       556010

[3433 rows x 4 columns]